* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  font-size: 62.5%; /* = 10px (default 16px) */
}

body {
  height: 100vh;
  color: white;
  background-color: #EBF2F5;
}

body,
input,
button,
textarea {
  font-size: 1.8rem; /*rem = root element / em = element*/
  line-height: 1;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
