#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  min-height: 100vh;
  text-align: center;
  display: flex;
  /*align-items: center;*/
}

#container {
  margin: auto;
  width: 90%;
}

.location,
h1,
.visit p {
  height: 16vh;
}

.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center; /* alinhamento vertical*/
  justify-content: center; /* alinhamento horizontal*/
  margin: auto;
  transition: background 0.1s;
}

.visit a:hover {
  background: #96feff;
}
